# Intro to Python
## Operators

<table class="tg">
<thead>
  <tr>
    <th class="tg-1wig"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Operator</span></th>
    <th class="tg-1wig"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Name</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">+</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Addition</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">-</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Subtraction</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">*</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Multiplication</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">/</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Division</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">and</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Returns True if both statements are true</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">or</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Returns True if one of the statements is true</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">not</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Reverses the result: returns False if True</span></td>
  </tr>
</tbody>
</table>

In [ ]:
x=5
print(x>3 and x<10)
print(x>3 or x<10)
print(not(x>3 and x<10))

True
True
False

In [55]:
# Operators can be used on strings too!
print('tea' + 'leaf')
print('Bee' * 3)

tealeaf
BeeBeeBee

## If… Else
An 'if else' is a conditional statement that runs a different set of statements depending on whether an expression is true or false.

Equals: a == b \
Not Equals: a != b \
Less than: a < b \
Less than or equal to: a <= b \
Greater than: a > b \
Greater than or equal to: a >= b

In [56]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
elif b < a:
    print("a is greater than b")
else: 
    print("a is equal to b")

b is greater than a

## For loop

In [57]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [58]:
for letter in "banana":
  print(letter)

b
a
n
a
n
a

In [59]:
for position, letter in enumerate("banana"):
  print(position, letter)

0 b
1 a
2 n
3 a
4 n
5 a

## List

In [60]:
my_list = ['a','b','c','b','d','e']
print(my_list[0]) # returns 'a'
print(my_list[5]) # returns 'e'
print(my_list[-1]) # returns 'e'
print(my_list[5] == my_list[-1]) # returns True
print('b' in my_list)

a
e
e
True
True

In [61]:
my_list.remove('b') # It will remove just the first b
my_list

['a', 'c', 'b', 'd', 'e']

In [62]:
my_list.pop()

'e'

In [63]:
my_list

['a', 'c', 'b', 'd']

In [64]:
my_list.append('g')
my_list

['a', 'c', 'b', 'd', 'g']

In [65]:
another_list = ['i','j']
my_list.extend(another_list)
my_list

['a', 'c', 'b', 'd', 'g', 'i', 'j']

In [66]:
x,y = [1], [2,3]
x+y

[1, 2, 3]

In [67]:
x*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [68]:
x

[1]

In [69]:
for offset, element in enumerate(my_list):
    if element =='b':
        print(offset)
        break

2

### Exercise

Using a loop modify the list my_list = [] into my_list = [0, 2, 4, 6, 8]

In [119]:
my_list = []

## Slicing

In [75]:
quote = "be the change you wish to see in the world!"
quote[0:2]

'be'

In [76]:
quote[2:]

' the change you wish to see in the world!'

In [77]:
quote[0:-6]

'be the change you wish to see in the '

In [78]:
quote[:-6]

'be the change you wish to see in the '

In [84]:
quote[:-6] + 'bedroom'

'be the change you wish to see in the bedroom'

### Exercise

Reverse a list in Python\
Given:\
list1 = [100, 200, 300, 400, 500]\
Expected output:\
list1 = [500, 400, 300, 200, 100]

In [85]:
list1 = [100, 200, 300, 400, 500]

## Tuples

In [86]:
names = ('Jeff', 'Bill', 'Steve', 'Yash')
print(names[0])

Jeff

In [87]:
print(names[-4])

Jeff

In [88]:
names[0] = 'Swati'

TypeError: 'tuple' object does not support item assignment

In [89]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

In [90]:
names

('Jeff', 'Bill', 'Steve', 'Yash')

In [91]:
del names

In [92]:
names

NameError: name 'names' is not defined

## Sets

In [93]:
even_nums = {2, 4, 6, 8, 10} # set of even numbers
even_nums.add(12)
even_nums

{2, 4, 6, 8, 10, 12}

In [94]:
8 in even_nums

True

In [95]:
{2, 4, 6} & even_nums

{2, 4, 6}

In [96]:
emp = {1, 'Steve', 10.5, True}

## Dictionaries

In [97]:
translation = {'hello': 'goodbye'}
translation['hello']

'goodbye'

In [98]:
translation['table'] = 'mesa'
translation

{'hello': 'goodbye', 'table': 'mesa'}

In [99]:
translation['hello'] = 'hola'
translation

{'hello': 'hola', 'table': 'mesa'}

In [100]:
translation.update({'hello': 'ciao', 'windows': 'ventana'})
translation

{'hello': 'ciao', 'table': 'mesa', 'windows': 'ventana'}

In [101]:
translation.pop('windows')

'ventana'

In [102]:
translation

{'hello': 'ciao', 'table': 'mesa'}

In [103]:
for key, value in translation.items():
    print(key, '-->', value)

hello --> ciao
table --> mesa

In [104]:
likes = {
    'michael' : ['annie hall', 'manhatten'],
    'tina' : ['alien', 'aliens']}

### Exercise

Add to the list likes above: robert with the list junior, kid, child

### Exercise
Convert two lists into a dictionary

Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [105]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

## Functions: syntax

In [106]:
def sum_two_numbers(a=2,b=3):
    '''
    This function takes two numbers and returns their sum
    '''
    return a + b

In [107]:
sum_two_numbers(2,3)

5

In [108]:
sum_two_numbers(6,7)

13

In [109]:
def print_arguments(*arguments):
    print(arguments)
print_arguments(1,2,3)

(1, 2, 3)

In [110]:
def print_arguments(*arguments, **keyword_arguments):
    print(arguments)
    print(keyword_arguments)
print_arguments(1,2,3,a="first_kwarg",b="second_kwarg")

(1, 2, 3)
{'a': 'first_kwarg', 'b': 'second_kwarg'}

## Functions: scope

In [111]:
letter = 'a'
def create_number():
    number = 7
    print(number)
    print(letter)
create_number()

7
a

In [112]:
print(number)

NameError: name 'number' is not defined

## Functions: built-in functions and some methods

In [113]:
len(["a","b","c","d"])

4

In [114]:
type(2)

int

### Exercises

Write a function that …
1. removes all non-integer values from a list (clean_list)
- Takes in [1, 2, 3, 2.5, ”hello”, 4, “there”]
- Returns [1, 2, 3, 4]

2. Takes in a dictionary of named lists and returns it with None’s removed from each list (clean_dict)
- Takes in {'list1': [1,2,None,4,5,6,None,8], 'list2':['a',None,'c','d',None,'f','g',None]}
- Returns {'list1': [1,2,4,5,6,8], 'list2':['a','c','d','f','g']}

In [118]:
list= [1, 2, 3, 2.5, 'hello', 4, 'there']

## Demo: using functions from a module

In [115]:
# importing the entire module
import numpy as np
My_array = np.array([1,2,3])

In [116]:
# importing a single function from a module
from datetime import date
My_date = date(2019, 4, 13)